<!DOCTYPE html>
<html>
<head>
  <title>ThinkfulWikifulBdd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <h1 style='margin:0; padding-top:0; padding-right:10px; float:left; display:inline;'>Wikiful</h1>
    <%= render partial: 'shared/main_menu' %>

    <div>
      <div class="flash-notice">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, "<i class='icon-large icon-hand-right'></i>&nbsp;#{msg}".html_safe, id: "flash_#{name}", class: "alert alert-#{name}" %>
        <% end %>
      </div>
    </div>

    <div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
